/* special css for the anti-software index page */

ul {
	list-style: none;
}
li:nth-child(odd) > a::before {
	content: "👽 ";
}
li:nth-child(even) > a::before {
	content: "👺 ";
}

a {
	font-size: xx-large;
	line-height: 1.7em;
	margin: 0 auto;
	max-width: 40em;
}

li > a:link {
	text-decoration: none;
}

li > a:visited {
	text-decoration: none;
}

li > a:hover {
	text-decoration: none;
}

li > a:active {
	text-decoration: none;
}
