html {
    background-color: #f7c6fc;
    height: 100%;
    background: radial-gradient(ellipse at right, white, transparent),
		radial-gradient(ellipse at left, #f7c6fc, transparent);

}

body {
    font: normal 12pt/14pt, sans-serif;
    color: #353535;
    width: 85vw;
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 2%;
    max-width: 1060px !important; 
    margin-left:auto;
    margin-right:auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;  
    border-bottom: 3px solid black;
    text-decoration: none !important;
    text-shadow: 2px 2px 1px #9c9; 
}

u {
        font-size: 140%;
        color: black;
        background: #9c9;
}
figure{
  margin: none;
}
strong {
        display: inline;
        font-style: normal;
        color: BLACK;
        background: #9c9;
        color: WHITE;
        background: silver;
        text-shadow: 1px 1px 0px black;
        text-shadow: 1px 1px 0px #DDDDDD;
        text-shadow: 2px 0px 1px WHITE;
        text-shadow: none;
        font-weight: bold;
        padding: 3px;
        margin: 3px;
}


em {
    display: inline;
    font-style: italic;
    font-weight: bold;
}

em:hover { 
    color: blue !important;
}


strong em u {
    opacity: 0.85;
    letter-spacing: 7px;
    font-size: 190%;
    padding: 7px;
    line-height: 140%;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px dotted;
}
/************* (strikethrough) ***********/
s {
    line-height: 0px !important;
    font-size: 0 !important;
}

/************* (link) ***********/
a {
color: 
	color: purple important!;
}
a:link {
        color: #00AACC;
}

a:visited {
        color: #009c9C;
        color: #00AACC;
        font-style: italic;
}

a:hover {
        font-weight: bold;
}


/****** TITLES *********/

strong em u {
    font-size: 150%;
    text-shadow: 2px 1px 1px #333;
}

h1 {
    color: black;
}

u {
        font-size: 155%;
        color: white !important;
        background: #333;
        color: black !important;
        background: white;
}

strong {
        background: white;
        color: black !important; 
        background: #333;
        color: white !important; 
        color: black !important; 
        background: #EEE;
        opacity: 0.8;
        margin: 2px;
        padding: 1px;
        margin: 2px;
        padding: 1px;
}

em {
        color: black !important;
        display: inline;
        font-style: normal;
        font-style: italic;
}

strong em u {
    background: #333 !important;
    color: white !important;

    background: white !important;
    color: black !important;

    letter-spacing: 6px;
    font-size: 180%;
    opacity: 0.7;
    padding: 4px;
}

em u {
    line-height: 130%;
    background: none !important;
    font-style: none !important;
    text-decoration: none !important;
    font-size: 140%;
}

h2, h3 {
    margin-top: 10px;
    /* border-bottom: 2px solid; */
}


code {
    background-color: lightgrey;
}
#banner { 
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    display: block;
    background: #fff2e6;
}
 p {
  font-size: 1em;
 }
 .banners {
   height: 31px;
   width: 88px;
   border: 1px solid #000;
 }

.broider {
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAACTUlEQVR4nO2Y4XKEIAwGyfs/tP3T9kBQiFk4z/t2xpm2d4awhIhNKYqlLaXTSziRUJhDmSahfkxC3WwvabalZP+/n8lMKW3//dWy6/PYzyeK9Xqk9/o0aKGoTAlNlRA72O5WfV5959O3/KWCsAMZ3ENm34N7CZW5WCoXzLLFfPXpvNf7sL+8bHv93B7/d9x+wNSQmV1RvPFWtxg8/uHNSIWaO95aof2C8gs9Og69R2h+ysi2dr4FszbVyP1yfrs8twPZkQGaRyhnuFayVv2tvagjPasR3wohw/c3F7yW6qN7ePcHnLuFT+JfbDHez3v5wULjLwq9hKP5dr6f5X/xGLjtg5gvwTKdfPsOVGs51tAxJVSheQuasuUHyCfLVizzInAstyiOsfzbz4CiVweJN2m4pVSwLeX03qGH5jn5il08Vk0VOvAMcI13Go+oUPbct/s/Abbls7jVjqh6+UC8qS1qfpO+GbNblIQmCQ0hoTC40OkrdHOmV6SEwgElFA4oocEATxe4/CkuoXcf4GZIKIwO7kGWF4yETh7waUgojITCSCiMhMJIKMzbhUrw3Qe4GRIKI6Ew6qmTkVAYCYWRUBgJhZFQGAmFkVAYHeyD6E0JRkJhJBQGn+/The1ZXpFPR0JhJBRmes/8dqF4QAmFA0ooHFBC4YDeAXr30wnT8SUUji+hcHwJhePjQr0D0MKj988WHBYuoRIqoV8tdHXC9AJECc9fQn35hgNIqISGoOePJ7ia6ALi85dQCS2QUJjbCX0aEgYjoTASCjNV6A95rLoip9URPgAAAABJRU5ErkJggg==") 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid;
}

 /* OVERRIDE BOOTSTRAP MAX WIDTH WITH THESE MEDIA QUERIES */
 /* THIS IS A HACK - Idea from stackoverflow here: https://stackoverflow.com/questions/22996429/override-bootstrap-container-width#22996746   */
@media (min-width: 768px){
  .container{
    max-width:100%;
  }  
}

@media (min-width: 992px){
  .container{
    max-width:100%;
  }
}

